<h1>Archive for <%= @tag.name.capitalize %></h1>
<%= link_to "Home", tags_path, class: "new_article" %>

<ul id="articles">
	<% @tag.articles.each do |article| %>
	  <li><%= link_to article.title, article_path(article) %></li>
	<% end %>
</ul>